html,
body {
    height: 100%;
}
/* body  */
.parent {
    height: 100%;
    background: #eee8e8d5;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white
}

.child {
    background-color: #2e324a;
    width: 400px;
    height: 680px;
    box-shadow: -4px 6px 44px 0px rgb(48 32 50 / 75%);
    border-radius: 10px;
}
/* header  */
.header{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 20px;
}
.header .i1:hover{
    color: rgb(163, 240, 237);
    cursor: pointer;
    font-size: 18px;
    transition: 50ms linear; 
}
.header .i2:hover {
    color: rgb(163, 240, 237);
    cursor: pointer;
    font-size: 18px;
    transition: 50ms linear; 
}
.header .i3:hover {
    color: rgb(163, 240, 237);
    cursor: pointer;
    font-size: 18px;
    transition: 50ms linear; 
}

.right{
    float: right;
    letter-spacing: 5px;
}
/* content  */
.content img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
    margin-top: 10px;
    box-shadow: 3px 4px 32px 11px rgba(5,4,4,0.77);
}
.des{
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
}
.des h4{
    margin-top: -20px;
}
.button{
    padding: 10px;
    margin-top: 10px;
    border-radius: 40px;
    text-align: center;
    background-color: #4f5cad;
    color: white;
    font-size: 20px;
    display: flex;
    margin: 0 auto;
}
.button:hover{
    background-color: #6f7bc8;
    cursor: pointer;
}
hr{
    width: 350px;
    height: 1px;
    margin-top: 40px;
    border: none;
    background-color: #4d516a;
}
/* footer icon  */
.footer{
    padding: 20px;
    display: flex;
    justify-content: center;
}
.footer .div1{
    padding: 5px;
    margin: 0 15px;
}
.footer .div1 a{
    text-decoration: none;
    color: white;
    scale: pointer;
}
.footer .div1 a:hover{
    box-shadow: -9px 10px 51px -2px rgba(147,159,161,1);
    transition: 50ms linear; 
    
}
.footer .div1 h3,p{
    text-align: center;
    justify-content: center;
}
.footer .div1 p{
    margin-bottom: 30px;
}
.footer .div1 i{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    font-size: 70px;
    
    
}